@media screen and (min-width: 640px) {

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }

    section {
        scroll-margin-top: 75px;
    }

    body {
        max-width: 100%;
        margin: auto;
    }


    main {
        margin: auto;
        max-width: 100%;
    }

    h2 {
        grid-column: 1 / -1;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
    }

    hr {
        grid-column: 1 / -1;
    }

    .schedule {
        font-size: 1vw;
        text-align: center;
        justify-items: center;
    }

    .schedule ul {
        text-align: center;
        justify-items: center;
        list-style: none;
    }

    .registration {
        font-size: 1vw;
    }

    .contact-info {
        display: grid;
    }
}